.pf-pic {
  background: url("NatalieTarnming.jpg") no-repeat; /* Changes the grayscale profile picture to colored when hovered over.*/
  float: right;
  height: 300px;
  margin-left: 50px;
  margin-top: 30px;
  position: relative;
  width: 300px;
  background-size: contain;
}

.pf-pic:hover {
  background: url("NatalieTarnmin.jpg") no-repeat;
  background-size: contain;
}

.project-icons{
  margin-top: 0.5rem;
}

.project-icons #projecticonborder{
  background: rgba(100, 161, 157, 0.1);
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.3);
  height: 1.5rem;
  text-align: center;
  width: 1.5rem;
}

.project-icons a {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.3);
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
}

.project-icons a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.project-icons a:active {
  color: rgba(255, 255, 255, 1);
}

/* Project Section Pictures - Resizes and changes background of images. */

.webapp-img {
  background: rgba(255, 255, 255, 0.1);
  height: 75%;
  width: 90%;
}

.aicure-img {
  background: rgba(255, 255, 255, 0.1);
  height: 20%;
  width: 95%;
}

.nlp-img {
  background: rgba(255, 255, 255, 0.1);
  width: 95%;
}

/* The extended projects section used to be a contact section so this adds padding around extended projects. */
#contact-margin {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

/* Contact Section Comments - Changes styling of each comment. */

#control-image {
  width: 75%;
}

#comment-list {
  list-style-type: none;
  padding-left: 0;
}

.comment {
  background-color: rgb(100, 161, 157);
  margin-top: 10px;
  overflow: auto;
  padding: 1.25rem 1rem;
  position: relative;
}

.comment p {
  color: white;
  text-align: left;
}

.comment button {
  background-color: transparent;
  border: none;
  bottom: 10px;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  color: white;
  font-size: 15px;
  position: absolute;
  right: 15px;
  text-transform: none;
  letter-spacing: none;
}

.comment img {
  float: left;
  max-height: 200px;
}

.fun-masthead {
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%);
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  position: relative;
  width: 100%;
}

#map {
  height: 300px;
  width: 100%; 
}

.text-align-left {
  text-align: left;
}

#float-right {
  display: inline-block;
  float: right !important;
}

#overwrite-center {
  display: inline-block;
  text-align: left;

}

.full-screen-image{
  height: 1400px;
}

.full-screen{
  height: 90%;
}