.pf-pic {
  background: url("NatalieTarnming.jpg") no-repeat; /* Changes the grayscale profile picture to colored when hovered over.*/
  float: right;
  height: 400px;
  margin: 5px;
  position: relative;
  width: 300px;
  background-size: contain;
}

.pf-pic:hover {
  background: url("NatalieTarnmin.jpg") no-repeat;
  background-size: contain;
}

.project-icons{
  margin-top: 0.5rem;
}

.project-icons #projecticonborder{
  background: rgba(100, 161, 157, 0.1);
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.3);
  height: 1.5rem;
  text-align: center;
  width: 1.5rem;
}

.project-icons a {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.3);
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
}

.project-icons a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.project-icons a:active {
  color: rgba(255, 255, 255, 1);
}

/* Project Section Pictures - Resizes and changes background of images. */

.webapp-img {
  background: rgba(255, 255, 255, 0.1);
  height: 75%;
  width: 90%;
}

.aicure-img {
  background: rgba(255, 255, 255, 0.1);
  height: 20%;
  width: 95%;
}

.nlp-img {
  background: rgba(255, 255, 255, 0.1);
  width: 95%;
}

/* The extended projects section used to be a contact section so this adds padding around extended projects. */
#contact-margin {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

/* Contact Section Comments - Changes styling of each comment. */

#comment-list {
  list-style-type: none;
}

.comment {
  border-bottom: 1px dashed #efefef;
  overflow: auto;
  margin-bottom: 10px;
  padding: 1.25rem 2rem;
  /* box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  height: auto;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  letter-spacing: 0.15rem;
  border: 0; */
  /* border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 300px; */
}

.comment span {
  flex-grow: 1;
}

.comment button {
  background-color: #f8f9fa;
  border: none;
  color: #6c757d;
  font-size: 15px;
  position: absolute;
  right: 15px;
}